.header {
  position: absolute;
  top: 0;
  width: 100%;
  // background: $dark;
  overflow: hidden;
  z-index: 10;
  border-bottom: 1.4px solid rgba(white, 0.06);
  &::before {
    content: '';
    @extend .cover-parent;
    position: absolute;
    z-index: -1;
    // background: red;
    -webkit-backdrop-filter: saturate(80%) blur(10px);
    background: rgba($dark, 0.6);
    backdrop-filter: saturate(80%) blur(10px);
  }
  .Logo {
    max-width: 96px;
    opacity: .85;
    @include media('>phone') {
      max-width: 113px;
    }
    @include media('>tablet') {
      max-width: 120px
    }
    img {
      max-width: 100%;
    }
  }

  .hamburger-menu {
    display: inline-flex;
    opacity: .65;
    @extend .flex !optional;
    margin-left: auto;
    svg {
      width: 4.8rem;
    }
    @include media('>tablet') {
      display: none;
    }
  }
  
  &__inner {
    @extend .flex-row;
    font-size: 1.4rem;
    height: $headerHeight;
  }

  &__nav {
    @extend .flex-row;
    text-transform: uppercase;
    height: 100%;
    align-self: stretch;
    display: none;
    @include media('>tablet') {
      display: flex;
    }
  }
  &__links {
    font-family: $font-family-condensed;
    display: flex;
    color: $light;
    margin: 0 2rem;
    height: 100%;
    letter-spacing: 1px;
    align-items: center;
    &:last-of-type {

      margin-right: 0;
    }

    &:hover,
    &:active,
    &.active {
      color: $yellow;
    }
    &.filled {
      @extend .filled-btn;
    }
  }
  &__actions {
    text-transform: uppercase;
    color: $light;
    @extend .flex-row !optional;
    display: none;
    @include media('>tablet') {
      display: flex;
    }
  }
}
