.banner {
  width: 100%;
  height: calc(100vh);
  position: relative;
  //   padding-top: $headerHeight;
  // margin-top: $headerHeight;
  background-image: linear-gradient(75deg, $dark 40%, $dark 100%);
  overflow: hidden;
  &-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    z-index: 0;
    transform: scale(1.24);
    background-repeat: no-repeat;
    background-position: 18vw -5vh;
    pointer-events: none;
    background-image: url('/images/banner-bg-low.png');
    // display: none;
    @include media('>tablet') {
      background-image: url('/images/banner-bg-md.png');
    }
  }

  &__inner {
    @extend .cover-parent;
  }
  &__half {
    height: 100%;
    display: flex;
    @include media ('>900px') {
      width: 50%;
    }
  }
  &__content {
    max-width: 450px;
    padding: 2rem;
    margin: 0 auto;
    align-self: center;
    position: relative;

    h1 {
      font-size: calc(2.6rem + 1.8vw);
      text-transform: uppercase;
      color: #82fffb;
      font-family: 'Oswald', 'sans-serif';
      line-height: 1.15;
      letter-spacing: 1px;
      font-weight: 500;
      margin-bottom: 0.54em;
      @include media('>tablet') {
        font-size: calc(2rem + 1.8vw);
        margin-bottom: 1em;
      }
    }
  }
  &__cta {
    font-size: 1.8rem;
    cursor: pointer;
    color: $blue;
    @extend .flex-row;
    width: min-content;
    justify-content: flex-start;
    &:hover {
      filter: saturate(200%);
    }
    &:hover span {
      transform: translateX(1rem);
    }
    span {
      width: 5.4rem;
      margin-left: 1.2rem;
      transition: 0.3s ease;

      svg {
        width: inherit;
      }
    }
  }
}
