.recent-comics {
  @extend .section;
  background: $black;
}
.comics {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.5rem;
  margin-top: 2rem;
}
.comic {
    padding-bottom: 2rem;
  &__image {
    max-width: 100%;
    img {
      width: 100%;
    }
  }
  &__title {
    font-size: 1.4rem;
    font-weight: 500;
    color: $light;
    margin: 1.5rem 0 0.8rem;
  }
  &__meta {
    color: rgba($light, 0.75);
    font-family: $font-family-condensed;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
}
