.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  /* background: center / contain no-repeat url("../../media/examples/firefox-logo.svg"),
            #eee 35% url("../../media/examples/lizard.png"); */
}
.banner-bg {
  height: 40vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.37),
      rgba(0, 0, 0, 1)
    ),
    url('../../public/assets/comic-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-inner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0 1rem;
}
.banner-content {
  color: #000;
  max-width: 640px;
}
.banner-content h1 {
  font-size: calc(1vw + 1.7rem);
  line-height: 1.2;
  margin-bottom: 1rem;
}
.banner-btns {
    margin-top: 1.2rem;
}
.banner-btns button {
  border: none;
  background: transparent;
  outline: none;
  font-size: .8rem;
  padding: 0.875rem 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #202020;
  cursor: pointer;
}
.banner-btns button:hover {
  opacity: 0.75;
}
.banner-btns .signup {
  border: 2px solid #202020;
}

@media (min-width: 630px) {
  .banner-bg {
    height: 65vh;
  }
  .banner-inner {
    position: absolute;
    z-index: 2;
    top: 0;
    padding: 0;
  }
  .banner-content {
    color: #fff;
  }
  .banner-content h1 {
    font-size: calc(1.2vw + 1.8rem);
    margin-bottom: 1rem;
  }
  .banner-btns button {
    color: #fff;
    font-size: 1rem;
  }
  .banner-btns .signup {
    border: 2px solid #fff;
  }
}
