.comics {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  width: 100%;
}

.comic {
  width: 100%;
  user-select: none;
}

.comic:hover .comic-image {
  box-shadow: 0 22px 20px -10px rgba(0, 0, 0, 0.45);

  transition: all 0.17s ease-in-out;
  transform: translate3d(0, -10px, 0) scale(1.03);
}
.comic:hover .comic-title {
  color: #eb2328;
}
.comic-image {
  margin-bottom: 1rem;
  transition: all 0.17s ease-in-out;
}
.comic-image,
.comic-image:active {
  box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
}
.comic-image,
.comic-image img {
  display: block;
  width: 100%;
}
.comic-title {
  color: rgba(32, 32, 32, 1);
  font-weight: 600;
  font-size: 17px;
}
.comic-content {
  margin-bottom: 1.2rem;
}
.heading-1 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 26px;
  margin: 30px 0;
}

@media (min-width: 320px) {
  .comics {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 601px) {
  .comics {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 839px) {
  .comics {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* User profile Styles */
.user-profile-link:hover {
  color: #eb2328;
}

/* Search Styles */
.search {
  margin: 0 2rem 0 auto;
  flex: 1 1 25%;
  position: relative;
  display: flex;
  align-items: center;
}
.search svg {
  position: absolute;
  margin: 0 0.8rem;
  width: 18px;
  height: 18px;
}
.search-input {
  padding: 12px 12px 12px 44px;
  border: none;
  width: 100%;
  border-radius: 2px;
  display: block;
  outline: none;
  background: #202121;
  color: '#f9f9f9';
  letter-spacing: '1.2px';
  font-size: 15px;
  /* background: center / contain no-repeat url("../../media/examples/firefox-logo.svg"),
            #eee 35% url("../../media/examples/lizard.png"); */
}
.menu-icon {
  width: 4rem;
  height: 3.2rem;
  cursor: pointer;
}

.search-input::-webkit-input-placeholder {
  color: #c2c2c2;
}
@media (max-width: 570px) {
  .search {
    display: none;
  }
}

/* HAMBURGER STYLES */
.hamburger {
  border-right: 1px solid #393939;
}

/* SEARCH ICON STYLES */
.search-icon {
  border-left: 1px solid #393939;
}
