button {
    border: none;
    background: none;
    outline: none;
    padding: 10px 16px;
    color: inherit;
    text-transform: inherit;
    cursor: pointer;

    &:hover {
        color: $yellow;
    }
}

button.outlined {
    border: 1px solid;
    &:hover {
        color: $dark;
        background: $light
    }
}

button.filled {
    @extend .filled-btn
}