:root {
  --bg-color: $black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}
body, #__next {
  min-height: 100vh;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background: var(--bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
