* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
}
body, #__next {
  min-height: 100vh;
}

body {
  font-family: 'Sofia Pro', 'sans-serif';
  font-weight: 400;
  box-sizing: border-box;
  background: $black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
