/* Colors */
$yellow: #FFBF29;
$light: #fff;
$dark: #131211;
$blue: #5578AB;
$gray: #121212;
$black: #0C0B0A;
$headerTitleColor: #82FFFB;

$font-family-condensed: 'Oswald', 'sans-serif';

/* Others */
$opacity-7: .70;
$opacity-9: .90;

/* Sizes */
$size-1: 1rem;
$size-2: 2rem;
$headerHeight: 7rem;